.section__statistics {
    display: flex;
    justify-content: center;
    width: 100%;
}
.table_statistics,
.thead_statistics,
.tr_statistics,
.tr_statistics td {
    font-size: 16px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
}
.table_statistics  {
    border-radius: 10px;
    border: 2px solid black;
    transform: scale(0.9);
    width: 100%;
}
.thead_statistics {
    column-gap: 2px;
    background-color: rgb(22, 104, 107);
    color:aliceblue;
}
.tr_statistics > th {
    padding: 2px 4px;
}
.title_statistics{
    font-size: 20px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    font-style:inherit;
    padding: 10px 0;
}
td {
    text-align: center;
}
th {
    line-height: 30px;
}
.tr_statistics,
.tr_statistics td {
    height: 10px;
}